*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    padding: 18px 8%;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 8%;
    background-color: antiquewhite; /*remove later*/
}

ul{
    display: flex;
    gap: 15px;
    list-style: none;   
}

nav a{
    color: #575757;
    text-decoration: none;
}

.nav-reg-button{
    padding: 12px 24px;
    border-radius: 8px;
    background-color: #1D4ED8;
    color: white;
    border: none;
    font-weight: 700;
    cursor: pointer;
}

/* End of Navigation Style */


header{
    min-height:90vh;
    background-image:
        linear-gradient(to left, rgba(0,0,0,.3), rgba(0,0,0,.8)),
        url("./assets/banner.jpg");
    background-size:cover;
    background-position:center;

    display:flex;
    flex-direction: column;
    justify-content:space-around;
    align-items:center;
}

.header-content{
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    align-items:center;
    gap:30px;

    color:white;
    text-align:center;
}

.header-content h1{
    font-size:4rem;
    line-height:1.2;
}

.header-content p{
    max-width:500px;
    line-height:1;
}

.header-content button{
    padding:20px 80px;
    margin-top: 120px;
    border:none;
    border-radius:8px;
    background:#1D4ED8;
    color:white;
    font-weight:700;
    cursor:pointer;
}

/* End of Banner Styling */

.speakers{
    padding: 18px 8%;
    margin-bottom: 5%;
}
.speakers h2{
    text-align: center;
    font-size: 3rem;
    margin: 50px;
    font-weight: 900;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}
.speaker-card{
    display: flex;
    flex-direction: column;
    gap: 8px;
    border: 2px solid#ddd;
    border-radius: 12px;
    overflow: hidden;
}

.color{
    color: #2563EB;
}
.speaker-card img{
    width: 100%;
    object-fit: cover;
}
.speaker-card h3, 
.speaker-card p{
        padding: 8px;
        margin-bottom: 12px;
}
.color-2{
    color: #575757;
}

/* End of Speaker section */